/* Rules for Desktop */
@media only screen and (min-width: 851px) {
 
    .myVideo1 {
        display: none;
    }
   
    
   }
   



    /* Rules for Mobile */
    @media only screen and (max-width: 850px) {
    


        #myVideo{
            display: none;
        }

    }


    body{


        background-image: url(./img/water.gif);
        
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  padding-top: -5px;
  
    }